body{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  background-color: rgb(223, 212, 113);
  
}

#head{
    background-color: rgb(137, 163, 236);
    text-decoration: none;
   padding: 20px;
    .homeLink{
      text-decoration: none;
      color: rgb(248, 244, 244);

    }
}

.post{
    background-color: rgb(223, 212, 113);
}

:root {
    --light-color:var(--light-color)
    --dark-color: #fffbfb;
    --link-color: rgb(244, 246, 248);

  }

  /* body {
    font-optical-sizing: auto;
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    background-color: var(--background-color);
    margin: 0 1em;
    font-size: 16px;
  } */

  .wrapper {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
    line-break:auto
  }

  #head {
    display: flex;
    justify-content: space-between;
  }

  .sub-head {
    margin-left: auto;
    order: 2;
  }

  #head h3 a {
    color: var(--dark-color);
    text-decoration:underline;
  }

  h1 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
  }


  .post {
    margin-bottom: 1em;
    padding: .5em 1em;
  }
 
  /*these styles are shown between .post and #post */
  .post, #post {
    .img container {
        aspect-ratio: 3/2 ;
    }
   
    a{
        color: var(--body-color);
        /* text-decoration: none; */
    }
    a.hover {
        text-decoration: underline;
    }
  }

  .albumsDiv{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    height: 30%;
    width: auto;
    margin: 40px 10px;
    text-align: center;
    font-style: var(--light-color);

    .albumP{
      height: 200px;
      width: auto;
    }
  }

  .year{
    text-decoration: none;
  }
